{% extends 'base.html' %}

{% block content %}
<div class="container">
    <!-- header section -->
    <br>
    <header class="row">
        <div class="col-12 col-md-6" id="header-txt">
            <h2>Start collecting info on</h2>
            <h2>COVID-19 in your area!</h2>
            <h5>Keep informed on what's happening around you.</h5>
            <div>
                <button class="btn btn-primary">View</button>
                <button class="btn btn-primary">Start Today</button>
            </div>
        </div>
        <div class="col-6">
            <img src="../static/images/map.jpg" alt="header-image" class="header-image">
        </div>
    </header>
    <!-- end of header section -->
    <!-- start of middle section -->
    <section class="row">
        <div>
            <br>
            <div class="col-6">
                <img src="../static/images/info.jpg" alt = "stats" class="body-image">
            </div>
            <div class="col-12 col-md-6">
                <h1>Access all the COVID-19 information in one place!</h1>
                <h4>from what's happening across the globe to your own city.</h4>
            </div>
        </div>
    </section>
    <!-- footer part -->
    <section>
        <div>
            <img src="../static/images/covid.jpg" alt="logos" class="footer-logo">
        </div>
        <div class="col-12 col-md-6">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why COVID?</p>
                <p>The COVID-19 Project</p>
                <p>Donate</p>
                <p>Spread the Word</p>
                <p>Our Process</p>
            </div>
        </div>
    </section>
</div>




{% endblock content %}